<div class="container">
  <h1>
    Welcome to screening automation tool!
  </h1>

  <h3>Please note, since it prototype, process start manually by follow button clicking</h3>
  <br>
  <p>
    Enter email here. On this email will come letter with employees and their screening tests.
  </p>
  <br>
  <div class="form-inline">
    <div class="form-group">
      <label for="emailInput">Email</label>
      <input type="email" class="form-control" id="emailInput" placeholder="jane.doe@example.com" [(ngModel)]="commonEmail">
    </div>
    <button type="button" class="btn btn-default" (click)="checkScreenings()">Check expired</button>
  </div>
  <br>
  <div class="table-responsive">
    <table class="table table-bordered table-hover">
      <tr>
        <th>Employee alias</th>
        <th>Email</th>
        <th>Screening test name</th>
        <th>Date pass</th>
        <th>Expiration date</th>
        <th>Status</th>        
        <th>Mark as passed</th>
      </tr>
      <tr *ngFor="let employeeScreening of employeeScreenings">
        <td>{{employeeScreening.alias}}</td>
        <td>{{employeeScreening.email}}</td>
        <td>{{employeeScreening.screeningTestName}}</td>
        <td>{{employeeScreening.datePass ? (employeeScreening.datePass | date:'short') : '-'}}</td>
        <td>{{employeeScreening.expirationDate ? (employeeScreening.expirationDate | date:'short') : '-'}}</td>
        <td>{{employeeScreening.status}}</td>        
        <td><button type="button" class="btn btn-success">Passed</button></td>
      </tr>
    </table>
  </div>

</div>